In [1]:
#to print the numbers from 1 to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
#sum of all num in a list
def sum_list(m):
    sum_of_list=0
    for num in m:
        sum_of_list+=num
    print(sum_of_list)

In [3]:
sum_list([1,2,3,4,5])

15

In [4]:
#print the characters of a string in reverse
def reverse_string(s):
    reversed_string=""
    for char in s:
        reversed_string=char+reversed_string
    return reversed_string

In [5]:
reverse_string("jarupulasony")

'ynosalupuraj'

In [6]:
#factorial of a given num
def factorial_num(m):
    result=1
    for i in range(1,m+1):
        result=m*factorial_num(m-1)
    return result

In [7]:
factorial_num(5)

120

In [8]:
#multipiction table
def enter_num(k):
    for i in range(1,11):
        print(k,"*",i,"=",k*i)

In [9]:
enter_num(25)

25 * 1 = 25
25 * 2 = 50
25 * 3 = 75
25 * 4 = 100
25 * 5 = 125
25 * 6 = 150
25 * 7 = 175
25 * 8 = 200
25 * 9 = 225
25 * 10 = 250

In [10]:
#counts the num of even and odd nums in a list
def even_odd_count(l):
    even_count=0
    odd_count=0
    for i in l:
        if i%2==0:
            even_count+=1
        else:
            odd_count+=1
    return even_count,odd_count

In [11]:
even_odd_count([12,3,45,65,767,64])

(2, 4)

In [12]:
#prints the squares of num from 1 to 5
squares=[]
for num in range(1,6):
    square=num**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25]

In [13]:
#length of  a string without using len()
def get_length(string):
    count=0
    for char in string:
        count+=1
    return count

In [14]:
get_length([1,2,3,45])

4

In [15]:
get_length("sony")

4

In [16]:
#calculate the average of a list
def calculate_avg(l):
    total=0
    for num in l:
        total+=num
    average=total/len(l)
    return average

In [17]:
calculate_avg([23,34,56,54,77])

48.8

In [20]:
#to print first n fibonacci num
n=int(input("enter the num:"))
fib_list=[0,1]
for i in range(2,n):
    next_num=fib_list[i-1]+fib_list[i-2]
    fib_list.append(next_num)
print(fib_list)

enter the num: 8

[0, 1, 1, 2, 3, 5, 8, 13]

In [21]:
#to check duplicates in alist   
    my_list=[1,2,2,3,4,43]
    has_duplicates=False
    for i in my_list:
        if my_list.count(i)>1:
            has_dupicates=True
            break
    if has_duplicates:
        print("the list contains duplicates")
    else:
        print("the list does not contains duplicates")

IndentationError: unexpected indent (3563922132.py, line 2)

In [22]:
#prime num in a gievn range
a=2
b=21

print("Prime numbers between",a, "and", b, "are:")

for num in range(a,b+ 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 2 and 21 are:
2
3
5
7
11
13
17
19

In [23]:
#count vowels in a string
def count_vowels(string):
    vowels="aeiouAEIOU"
    count=0
    for char in string:
        if char in vowels:
            count+=1
    return count

In [24]:
count_vowels("jarupulasony")

5

In [25]:
#to count max element in a 2D list
def find_max_element(l):
    max_element=l[0]
    for sublist in l:
        for element in sublist:
            if element>max_element:
                max_element=element
    return max_element

In [26]:
find_max_element([2,3,4,5,[56,6,76]])

TypeError: 'int' object is not iterable

In [27]:
#removes all occurences of a specific element
def remove_all_occurances(l,item):
    new_list=[]
    for element in l:
        if element!=item:
            new_list.append(element)
    return new_list

In [28]:
remove_all_occurances([1,2,2,2,4,5,6,7],2)

[1, 4, 5, 6, 7]

In [29]:
#muitiplication table for num 1 to 5
for i in range(1,6):
    for j in range(1,11):
        result=i*j
        print(i,"*",j,"=",result)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [30]:
#to convert fahrenheit to celsius
fahrenheit_temp=[32,104,78,987]
celsius_temp=[]
for temp in fahrenheit_temp:
    celsius=(temp-32)*5/9
    celsius_temp.append(celsius)
print("fahrenheit temp:",fahrenheit_temp)
print("celsius temp",celsius_temp)

fahrenheit temp: [32, 104, 78, 987]
celsius temp [0.0, 40.0, 25.555555555555557, 530.5555555555555]

In [31]:
#to print the common elements having in both list
l1=[1,2,3,43,32]
l2=[4,34,54,32,43]
common_elements=[]
for element in l1:
    if element in l2:
        common_elements.append(element)
print("common element:",common_elements)

common element: [43, 32]

In [32]:
#print the pattern



rows=int(input("enter the num"))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print("*",end="")
    print()

enter the num 9

*
**
***
****
*****
******
*******
********
*********

In [34]:
#to find the greatest common divisor of two num
a=20

b=10
if a<b:
    smaller=b
else:
    smaller=a
for i in range(1,smaller+1):
    if a%i==0 and b%i==0:
        gcd=i
print("GCD of ",a,"and",b,"is",gcd)

GCD of  20 and 10 is 10

In [35]:
#sum of the digits of num in alist

num=[3456,678,9987]
digit_sums=[]
for i in num:
    digit_sum=sum(int(digit)for digit in str(i))
    digit_sums.append(digit_sum)
print("sum of digits in the list:",digit_sums)

sum of digits in the list: [18, 21, 33]

In [36]:
#prime factor of agiven numbers
def find_prime_factor(num):
    prime_factors=[]
    for i in range(2,num+1):
        while num%i==0:
            prime_factors.append(i)
            num//=i
    return prime_factors

In [37]:
find_prime_factor(12)

[2, 2, 3]

In [38]:
#to extracts unique elements from a list
original_list=[1,2,2,3,4,34,55]
unique_list=[]
for element in original_list:
    if original_list.count(element)==1:
        unique_list.append(element)
print("unique elements from the list:",unique_list)

unique elements from the list: [1, 3, 4, 34, 55]

In [39]:
#a list of all palindromic
limit=int(input("enter the limit"))
palindromic_num=[]
for num in range(limit+1):
    num_str=str(num)
    if num_str==num_str[::-1]:
        palindromic_num.append(num)
print(palindromic_num)

enter the limit 23

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22]

In [43]:
  #to flatten a nested list  
    nested_list=[[1,2,3,3],[3,4,4]]
    flattened_list=[]
    for sublist in nested_list:
        for num in sublist:
            flattened_list.append(num)
    print(flattened_list)

IndentationError: unexpected indent (2071571839.py, line 2)

In [44]:
#to get the sum of even and odd num
num=[2,32,1,54,67,78,98,90]
even_sum=0
odd_sum=0
for i in num:
    if i%2==0:
        even_sum+=i
    else:
        odd_sum+=i
print("sum of even num:",even_sum)
print("sum of odd num:",odd_sum)

sum of even num: 354
sum of odd num: 68

In [45]:
#list of squares of odd and even num
even_squares=[]
odd_squares=[]
for num in range(1,11):
    if num%2==0:
        even_squares.append(num**2)
    else:
        odd_squares.append(num**2)
print("sqaures of even numbers:",even_squares)
print("sqaures of odd numbers:",odd_squares)

sqaures of even numbers: [4, 16, 36, 64, 100]
sqaures of odd numbers: [1, 9, 25, 49, 81]

In [46]:
#twolist of into dictionary
keys=['a','b','c']
values=[1,2,3]
dic={}
for i in range(len(keys)):
    dic[keys[i]]=values[i]
print(dic)

{'a': 1, 'b': 2, 'c': 3}

In [47]:
#to extracts the vowels and stores them in alist
str="my name is sony"
vowels=[]
for char in str:
    if char.lower() in "aeiou":
        vowels.append(char)
print(vowels)

['a', 'e', 'i', 'o']

In [48]:
#to remove non numeric character
s=['123','ert','556','gfgf']
num=[]
for string in s :
    if string.isnumeric():
        num.append(string)
print(num)

['123', '556']

In [49]:
#list of prime num using sieve of eratosthenes algorithm
def sieve_of_eratosthenes(n):
    primes=[True]*(n+1)
    primes[0]=primes[1]=False
    for i in range(2, int(n**0.5)+1):
        if primes[i]:
            for j in range(i*i,n+1,i):
                primes[j]=False
    return [num for num,is_prime in enumerate(primes) if is_prime]
n=int(input("enter a num"))
prime_number=sieve_of_eratosthenes(n)
print(prime_number)

enter a num 50

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [50]:
#list of all pythagorean triples up to specified limit
limit=int(input("enter the limit"))
triplets=[]
for c in range(1,limit+1):
    for b in range(1,c):
        for a in range(1,b):
            if a**2+b**2==c**2:
                triplets.append((a,b,c))
print(triplets)

enter the limit 100

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (30, 40, 50), (14, 48, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (39, 52, 65), (33, 56, 65), (25, 60, 65), (16, 63, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (45, 60, 75), (21, 72, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (51, 68, 85), (40, 75, 85), (36, 77, 85), (13, 84, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97), (60, 80, 100), (28, 96, 100)]

In [51]:
#a list of all possible combinations
l1=[1,2,3,34]
l2=['a','d','l','k']
combinations=[]
for x in l1:
    for y in l2:
        combinations.append((x,y))
print(combinations)

[(1, 'a'), (1, 'd'), (1, 'l'), (1, 'k'), (2, 'a'), (2, 'd'), (2, 'l'), (2, 'k'), (3, 'a'), (3, 'd'), (3, 'l'), (3, 'k'), (34, 'a'), (34, 'd'), (34, 'l'), (34, 'k')]

In [52]:
#to find mean ,median,mode
num=[1,2,3,4,5]
total=0
for i in num:
    total+=i
mean=total/len(num)
sorted_num=sorted(num)
mid=len(sorted_num)//2
if len(sorted_num)%2==0:
    median=(sorted_num[mid-1]+sorted_num[mid])/2
else:
    median=sorted_num[mid]
count={}
for i in num:
    if i in count:
        count[i]+=1
    else:
        count[i]=1
mode=max(count,key=count.get)
print("mean",mean)
print("median",median)
print("mode",mode)

mean 3.0
median 3
mode 1

In [54]:
#pascals triangle 
def pascals_triangle(num_rows):
    triangle=[]
    for row in range(num_rows):
        current_row=[1]*(row+1)
        if row>1:
            for col in range(1,row):
                current_row[col]=triangle[row-1]
[col-1]+triangle[row-1][col]
        triangle.apprnd(current_row)
    return triangle

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 11)

In [75]:
#digit factorial sum
import math
factorial_sum=[]
for num in range(1,6):
    factorial=math.factorial(num)
    digit_sum=0
    for digit in str(factorial):
        digit_sum+=int(digit)
    factorial_sums.append(digit_sum)
print(factorial_sums)

TypeError: 'str' object is not callable

In [76]:
#longest word
sentence=input("enter a sentence")
num=[]
for word in sentence.split():
    if word.isdigit():
        num.append(int(word))
if num:
    largest_num=max(num)
    print("the largest num in a sentence is:",largest_num)
else:
    print("no num is found in the sentence")

enter a sentence iam sony

no num is found in the sentence

In [77]:
#string to invlude only those with more than three vowels
def count_vowels(word):
    voweks="aeiou"
    count=0
    for char in word.lower():
        if char in vowels:
            count+=1
    return count
def filter_string(string):
    filtered_string=[]
    for i  in string:
        if count_vowels(string)>3:
            filtered_string.append(string)
    return filtered_string

In [77]:
#string to invlude only those with more than three vowels
def count_vowels(word):
    voweks="aeiou"
    count=0
    for char in word.lower():
        if char in vowels:
            count+=1
    return count
def filter_string(string):
    filtered_string=[]
    for i  in string:
        if count_vowels(string)>3:
            filtered_string.append(string)
    return filtered_string

In [77]:
#string to invlude only those with more than three vowels
def count_vowels(word):
    voweks="aeiou"
    count=0
    for char in word.lower():
        if char in vowels:
            count+=1
    return count
def filter_string(string):
    filtered_string=[]
    for i  in string:
        if count_vowels(string)>3:
            filtered_string.append(string)
    return filtered_string

In [78]:
count_vowels("sony")

1

In [79]:

#to calculate the digits number sum
digit_sums=[]
for number in range(1,1001):
    digit_sum=sum(int(digit)for digit in str(number))
    digit_sums.append(digit_sum)

TypeError: 'str' object is not callable

In [79]:

#to calculate the digits number sum
digit_sums=[]
for number in range(1,1001):
    digit_sum=sum(int(digit)for digit in str(number))
    digit_sums.append(digit_sum)

TypeError: 'str' object is not callable

In [83]:
#list of prime palindromic num
def is_prime(num):
    if num<2:
        return False
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            return False
    return True
def is_palindrome(num):
    return str(num)==str(num)[::-1]
prime_palindrome=[]
for num in range(1,1000):
    if is_prime(num) and is_palindrome(num):
        prime_palindromes.append(num)
print(prime_palindromes)

TypeError: 'str' object is not callable