<a href="https://colab.research.google.com/github/SONY123n/07-3for-loop/blob/main/recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Can you explain the logic and working of the Tower of Hanoi algorithm by writing a Java program?

How does the recursion work, and how are the movements of disks between rods accomplished?

In [ ]:
def moves(n,s,d,a):
  if n==1:
    return 1
  return moves(n-1,s,a,d)+1+moves(n-1,a,d,s)
n=10
print(moves(n,'s','d','a'))

1023


3 Print the max value of the array [ 13, 1, -3, 22, 5 ]

In [ ]:
def maxofarr(arr):
  if len(arr)==1:
    return arr[0]
  return max(arr[0],maxofarr(arr[1:]))

arr=[13,1,-3,22,5]
print(maxofarr(arr))

22

 Find the sum of the values of the array [92, 23, 15, -20, 10]

In [ ]:
def sumofarr(arr):
  if len(arr)==1:
    return arr[0]
  return arr[0]+sumofarr(arr[1:])

arr=[92,23,15,-20,10]
print(sumofarr(arr))

120

 Given a number n. Print if it is an armstrong number or not.An armstrong number is a number if the sum
of every digit in that number raised to the power of total digits in that number is equal to the number.

Example : 153 = 1^3 + 5^3 + 3^3 = 1 + 125 + 27 = 153 hence 153 is an armstrong number.

In [1]:
#armstrong numbers

def armstrong_num(num):
  if num==0:
    return 0
  return (num%10)**3+armstrong_num(num//10)

num=153
print(armstrong_num(num))

153

In [2]:
num=232
print(armstrong_num(num))

43

Given two strings word1 and word2, return the minimum number of operations required to convert word1

to word2

In [3]:
def mindistance(word1,word2):
  if len(word1)==0:
    return len(word2)
  if len(word2)==0:
    return len(word1)

  if word1[0]==word2[0]:
    return mindistance(word1[1:],word2[1:])

  else:
    insert=mindistance(word1,word2[1:])+1
    delete=mindistance(word1[1:],word2)+1
    replace=mindistance(word1[1:],word2[1:])+1
    return min(insert,delete,replace)

word1='horse'
word2='ros'
print(mindistance(word1,word2))

3